<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <context:annotation-config/>
    <context:component-scan base-package="com.eurostar"/>

    <!-- Java Util properties -->
    <util:properties id="appProperties" location="file:appconfig.properties" />
    <context:property-placeholder properties-ref="appProperties"/>

    <!-- Simple Graph Client -->
    <bean id="simpleGraphiteClient" class="org.capgemini.am.LogAnalyzer.client.SimpleGraphiteClient">
        <constructor-arg name="graphiteHost" value="${graphite.server}" />
        <constructor-arg name="graphitePort" value="${graphite.port}" />
    </bean>
    
    <!-- Simple influxDB Client -->
    <bean id="objBaseClient" class="org.capgemini.am.LogAnalyzer.client.SimpleInfluxDBClient">
        <constructor-arg name="influxDBHost" value="${influxDB.server}" />
        <constructor-arg name="influxDBPort" value="${influxDB.port}" />
    </bean>
    
</beans>